body {
  background-color: hsl(210, 46%, 95%);
  margin: 0;
  padding: 1.5rem;
}

.container {
  min-height: 90vh;
  /* width: 95vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  display: grid;
  /* grid-template-rows: 50% 50%;
  grid-template-columns: 25% 25% 25% 25%; */
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  max-width: 80rem;
  grid-template-areas: "daniel daniel jonathan kira" "jeanette patrick patrick kira";
}

.profile-info {
  display: flex;
  justify-content: left;
  align-items: center;
}

.profile-info img {
  border-radius: 100%;
  height: 50px;
  margin-right: 10px;
}

.details {
  /* margin: 10px; */
}

.testimony {
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  box-shadow: -2px 2px 10px #aaaaaa;
}

.daniel {
  grid-column: span 2;
  background-color: hsl(263, 55%, 52%);
  color: white;
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position-x: 85%;
}

.kira {
  grid-row: span 2;
  grid-area: kira;
  background-color: white;
  color: hsl(217, 19%, 35%);
}

.jeanette {
  grid-area: jeanette;
  background-color: white;
  color: hsl(217, 19%, 35%);
}

.patrick {
  grid-area: patrick;
  grid-column: span 2;
  color: white;
  background-color: hsl(219, 29%, 14%);
}

.jonathan {
  background-color: hsl(217, 19%, 35%);
  grid-area: jonathan;
  color: white;
}

.profile-info,
.testimony {
  margin: 0;
  font-weight: 500;
  font-family: "Barlow Semi Condensed";
}

.profile-info h2 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.2rem;
  white-space: nowrap;
}

.profile-info p {
  font-size: 0.7rem;
  opacity: 50%;
  margin: 0;
}

.testimony h1 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.2;
}

.testimony p {
  font-size: 0.9375rem;
  opacity: 50%;
  line-height: 1.5;
}

p {
  margin: 0;
}

.testimony > * + * {
  margin-top: 1.2rem;
}

.attribution {
  margin-top: 2rem;
}

@media screen and (max-width: 700px) {
  body {
    padding: 3rem 1rem 1rem 1rem;
  }

  .main {
    grid-template-columns: 80%;
    grid-template-rows: auto;
    justify-content: center;
    max-width: 25rem;
    grid-template-areas: "daniel" "jonathan" "jeanette" "patrick" "kira";
  }

  .daniel,
  .patrick {
    grid-column: span 1;
  }

  .daniel {
    background-size: 30%;
  }

  .profile-info img {
    height: 1.8rem;
    margin-right: 10px;
  }

  .profile-info h2 {
    font-size: 0.9rem;
    margin-bottom: 1px;
  }

  .testimony {
    padding: 1rem 1.2rem;
  }

  .testimony h1 {
    font-size: 1.3rem;
  }

  .testimony p,
  .profile-info p {
    font-size: 0.7rem;
  }
}
